@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: auto;
  width: 100vw;
}

@media (width <= 20rem){
  .custom-animation{
    animation: carrusel 25s infinite steps(3);
  }
}

@keyframes carrusel{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}